{% extends '_base.html' %}
{% load static %}
{% block head%}
<link rel="stylesheet" href="{% static 'detail.css' %}">
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
{% endblock %}
{% block body %}
<section>
{% for a in j.title %}            
    <div class="title">{{a}}</div>
{% endfor %}
    <div class="info">
        
        {% for a in j.image_url %}            
            <img class="img" src="{{a}}" alt="">
        {% endfor %}
        
        <div class="map">
            {{map | safe}}
        </div>
    </div>
    <div class="address-name">{{address}}</div>
    <div class="chart">
        
        <div class="wrap">
            <div id="piechart" style="width: 400px; height: 400px;"></div>
        </div>
        <div class="wrap">
            <div id="barchart" style="width: 1000px; height: 400px;"></div>
        </div>
        <div class="wrap">
            <div id="linechart" style="width: 800px; height: 400px;"></div>
        </div>

        
    </div>
</section>
{% endblock %}

{% block script %}
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script>
    //  let v = JSON.parse("{{ visitor | escapejs }}")
    //  let n = JSON.parse("{{ name | escapejs }}")
    let pie = JSON.parse("{{ pie | escapejs }}")
    var address = "{{ address | escapejs }}"
    address = address.split(" ")[1]
    console.log(address);
    google.charts.load('current', {'packages':['corechart']});
    google.charts.setOnLoadCallback(drawChart);    
    google.charts.setOnLoadCallback(drawLineChart);
    google.charts.setOnLoadCallback(drawBarChart);
        
      function drawChart() {
        var arr = []
        var i = 0
        arr.push(['방문자', '행정구역'])
        for (let index = 0; index < pie.length; index++) {
            console.log(address.split(" ")[1]);
            if(pie[index].기초지자체명 == address.split(" ")[1])
                i = index
            arr.push([pie[index].기초지자체명, pie[index].방문자수])     
        }
        console.log(arr);
        var data = google.visualization.arrayToDataTable(arr);
        var arr = new Array(pie.length).fill({});
        console.log(arr);
        arr[i] = {offset: 0.2}
        var options = {
          title: address.split(" ")[1]+' 방문 비율',
          slices: arr,
        width: 400,
        height: 400,
        };

        var chart = new google.visualization.PieChart(document.getElementById('piechart'));

        chart.draw(data, options);
      }

    function drawLineChart() {

var data = new google.visualization.DataTable();
data.addColumn('string', '월');
data.addColumn('number','방문객 수')
let line = JSON.parse("{{ line | escapejs }}")
console.log(line);
var arr = []
for (let i = 0; i < line.length; i++) {
    arr.push([`${i+1}월`, line[i]])
    console.log(arr + 1);
}
console.log(arr);
data.addRows(arr);

var options = {
    trendlines: {
        0: {
    visibleInLegend: true
    }
},
        hAxis: {
          title: `${"{{ local | escapejs }}"} 월별 `
        },
        vAxis: {
          title: '방문객 수'
        },
        
      };

      var chart = new google.visualization.LineChart(document.getElementById('linechart'));
      chart.draw(data, options);
    }
    const bar = JSON.parse("{{ bar | escapejs }}")
    var arr = []
    var address = "{{ address | escapejs }}"
    arr.push(["광역지자체", "인당 지출액", { role: "style" } ])
    
    let total = 0

    bar.map(e => 
        
        {
            console.log(111111111111+e.광역지자체명,address.split(" ")[0])
            switch (address.split(" ")[0]) {
                case "강원특별자치도":
                    add1 = "강원"
                case "강원도":
                    add1 = "강원"
                case "전북특별자치도":
                    add1 = "전북"
                case "전라북도":
                    add1 = "전북"
                case "전남특별자치도":
                    add1 = "전남"
                case "전라남도":
                    add1 = "전남"
            }
            if(e.광역지자체명 == add1)
        {arr.push([e.광역지자체명, e.지출액,"color : #ff8692"])    
    console.log(e.광역지자체명, add1);}
        arr.push([e.광역지자체명, e.지출액,"color : #5f5fff"])
        total += e.지출액
    });
    avg = total/bar.length
    arr.push(["평균",avg,"color : #b1b136"])
    console.log(arr);
    function drawBarChart() {
      var data = google.visualization.arrayToDataTable(arr);

      var view = new google.visualization.DataView(data);
      

      var options = {
        title: "다른 지역의 지출액 비교",
        width: 1000,
        height: 400,
        bar: {groupWidth: "60%"},
        legend: { position: "none" },
      };
      var chart = new google.visualization.ColumnChart(document.getElementById("barchart"));
      chart.draw(view, options);
  }

</script>
{% endblock %}