{% extends "_base.html" %}
{% load static %}
{% block head%}
<script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
<script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
<script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
<link rel="stylesheet" href="{% static 'slick.css' %}">
{% endblock%}
{% block body %}
<article>
    <div id="choice-100">
        <ul class="slide-show">
            {% for one in choice %}
            <a href="{% url 'intro:detail' one.title %}">
                <li>
                    <img src="{{one.image_url}}" alt="https://img.freepik.com/premium-vector/south-korean-autumn-travel-vector-illustration_1456-891.jpg">
                    
                    
                    
                    
                    <div class="choice-title">
                        <p>{{one.title}}</p>
                    </div>
                    
                    <!-- <a class="choice-category">#{{one.category}}</a> -->
                </li>
            </a>
            {% endfor %}
        </ul>
    </div>
    
</article>
<div id="search-100">
    <div class="search-100-left">
        <ul>
            {% for one in search %}
                <li>
                    <p>{{one.title}}
                        <input id="img-url" type="text" value="{{one.image_url}}" hidden>
                    </p>
                    
                </li>
            {% endfor %}
        </ul>
    </div>
    
        <div class="search-100-detail">
                <div class="search-selection">
                    <div class="gangwon btn selected">강원</div>
                    <div class="gyeongbuk btn">경북</div>
                    <div class="jeonbuk btn">전북</div>
                    <div class="jeonnam btn">전남</div>
                    {% csrf_token %}

                </div>
                <div class="detail-img">                    
                </div>
                <div class="detail-info">
                    <a class="detail-title" href=""><div>제목</div></a>
                    <div class="detail-describe">설명</div>
                </div>
            
        </div>
    
</div>


<script type="text/javascript">
    $(document).ready(function(){
        $('.slide-show').slick({
            slidesToShow: 3,
            slidesToScroll: 1,
            autoplay: true,
            autoplaySpeed: 2000,
            arrows: false,
            speed: 3000,
            infinite: true,            
        });
    });
    const $ul = document.querySelector(".search-100-left ul")
    $ul.addEventListener("click",(e)=>{
        
        if(!e.target.tagName == "P" & !e.target.tagName == "LI")
        return
        
        
        const $title = document.querySelector("a.detail-title")
        const $img = e.target.querySelector("#img-url")
        const $detailImg = document.querySelector(".detail-img")

        $title.setAttribute("href","/detail/"+e.target.textContent)
        $title.textContent = e.target.textContent
        $detailImg.style.backgroundImage = `url(${$img.value})`
        // console.log($img.value);

        
    })
    const $select = document.querySelector(".search-selection")
    $select.addEventListener("click",(e)=>{
        if(e.target.tagName != "DIV")
        return
        
        const $btn = e.target.parentNode.getElementsByClassName("btn");       
        
        [...$btn].forEach(e=>e.classList.remove("selected"));
        e.target.classList.add("selected")

        const loc = e.target.textContent
        // console.log(loc);

        const token = document.querySelector('input[name=csrfmiddlewaretoken]').value;
        // console.log(token);
        fetch("/check/", {
            method: "POST",
            headers:{
                Accept: "application / json", 
                "X-CSRFToken": token,
            },
            body: JSON.stringify({
                "do" : loc
            })
        }).then(res => res.text())
        .then(data => {
            json = JSON.parse(data).list
            // console.log(json);
            const $ul = document.querySelector(".search-100-left>ul")
            $ul.innerHTML = ''
            // console.log($ul);
            json.forEach(e => {
                const $li = document.createElement("li")
                const $p = document.createElement('p')
                const $input = document.createElement("input")
                $input.value = e.image_url
                $input.hidden = true
                $input.setAttribute("id","img-url")
                $p.textContent = e.관광지;
                $p.appendChild($input)


                $li.appendChild($p)

                

                $ul.append($li);
            })


            // <li>
                // <p>{{one.title}}
                //         <input id="img-url" type="text" value="{{one.image_url}}" hidden>
                //     </p>
                    
                // </li>
        })
    })
</script>
{% endblock %}  