{% extends '_base.html' %}
{% load static %}
{% block head%}
<link rel="stylesheet" href="{% static 'tag.css' %}">
{% endblock %}
{% block body %}
    <section>
        <div class="tag">#{{tag}}</div>
        <ul>
            {% for data in lists%}
            <li class="wrap">
                <a href="{% url 'intro:detail' data.title %}">
                <img src="{{data.image_url}}" alt="">
                    <p>
                        {{data.title}}
                    </p>
                </a>
            </li>
            {% endfor %}
        </ul>
           
        
    </section>
{% endblock %}