section{
    margin: 0 auto;
    margin-top: 70px;
    width: 80%;
}

.title{
    margin-left: 40px;
    margin-bottom: 50px;
    font-size: 48px;
    font-weight: bold;

}

.info {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
    .info .img, .info .map {
        width: 50%;
        height: 500px;
        border-radius: 8px;
        /* background-color: tomato; */
        /* padding: 25px; */
    }
    .info .img{
        margin-right: 10px;
    }
    .info .map{
        display: flex;
        flex-direction: row;
        align-self: center;
    }

    


.chart{
    margin-top: 48px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
    .chart.wrap {
        width: 500px;
        margin-right: 30px;
    }

.address-name{
    margin-top: 35px;
    font-size: 36px;
    text-indent: 12px;
    font-weight: 500;
}