@font-face { /* 애플산돌고딕 폰트 적용 */
    font-family: "Crayon";
    src: url("static/Typo_CrayonM.ttf") format("truetype");
    font-weight: normal;
}
*{
    font-family: 'Crayon';
}
body{
    position: relative;
    padding-top: 70px;
}
a{
    text-decoration: none;
    color: black;
}
nav{
    width: 100%;
    height: 70px;
    position: absolute;
    top: 0;
    left: 0;

    border-bottom: 1px solid rgba(255, 0, 0, 0.281);

    z-index: 999;
    display: flex;
    justify-content: center;
}
nav #nav-left{
    font-size: 35px;
    font-weight: bold;
    padding: 10px;
    box-sizing: border-box;
    align-self: center;
    width: 250px;
}

article{
    width: 100vw;
    margin-top: 50px;
}
/* choice-100 */
#choice-100{
    width: 80%;
    margin: 0 auto;
    height: 400px;
    /* background-color: tomato; */
    box-sizing: border-box;
}
#choice-100 ul{
    display: flex;
    flex-direction: row;
    overflow: hidden;
}
#choice-100 li{
    margin: 30px 20px;
    /* width: 250px; */
    height: 300px;
    /* background-color: greenyellow; */
    position: relative;
    background-size: cover;
}
#choice-100 li img {
    width: 100%;
    height: 100%;
    border-radius: 20px;
}
#choice-100 li .choice-title{
    position: absolute;
    bottom: -24px;
    left: 5px;

    /* background-color: rgba(0, 0, 0, 0.6);
    
    color: whitesmoke;     */
    font-size: 20px;
    font-weight: bold;
    text-shadow: 0.5px black;
    
}
#choice-100 li .tag{
    position: absolute;
    bottom: -46px;
    left: 5px;
}

/* end choice-100 */

/* search-100 */
#search-100{
    width: 80%;
    margin: 0 auto;
    margin-top: 50px;
    height: 400px;
    box-sizing: border-box;
    padding: 15px;
    position: relative;
    background-color: blanchedalmond;

    /* background-color: skyblue; */

    display: flex;
}
.search-100-left{
    flex: 3;
    /* background-color: greenyellow; */
    margin-right: 20px;
    /* border: 0.5px solid black;     */
}
.search-100-left ul {
    overflow: scroll;
    height: 100%;
}
.search-100-left ul::-webkit-scrollbar {
    width: 7px;  
}
.search-100-left ul::-webkit-resizer{
    display: none;
}
.search-100-left ul::-webkit-scrollbar-thumb {
    background: grey; /* 스크롤바 색상 */
    border-radius: 10px; /* 스크롤바 둥근 테두리 */
}
.search-100-left ul::-webkit-scrollbar-track{
    background-color: blanchedalmond;
}
.search-100-left li {
    padding: 7px;
    font-size: 15px;
    line-height: 20px;
}
.search-100-left li:hover{
    border: 0.5px solid grey;
    color: blue;    
    cursor: pointer;
}
.search-100-detail{
    flex: 9;
    /* background-color: grey; */
    display: flex;
    padding: 12px;
    /* background-color: lightgrey; */


    /* border: 0.5px solid black; */
}
.search-100-detail a .detail-img{
    width: 625px;
    height: 100%;
    background-color: #FFF;
    margin-right: 10px;
    background-image: url("https://img.freepik.com/premium-vector/south-korean-autumn-travel-vector-illustration_1456-891.jpg") ;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 12px;

}
.search-100-detail .detail-img img{
    width: 100%;
}
.search-100-detail .detail-info{
    flex: 3;
    display: flex;
    flex-direction: column;
}
.detail-info a.detail-title{
    flex: 2;
    /* background-color: yellowgreen; */
    padding: 8px;
    box-sizing: border-box;
}
.detail-info .detail-describe{
    flex: 7;
    /* background-color: tomato; */
    padding: 8px;
    box-sizing: border-box;
}

.search-selection{
    position: absolute;
    top: -21px;
    left: 15px;
    width: 250px;
    height: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.btn{
    width: 50px;
    height: 100%;
    text-align: center;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
}
.btn:hover {
    scale: 1.1;
}
.selected{
    background-color: blanchedalmond;
}
/* end search-100 */

/* footer */
footer{
    
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer{
    width: 80%;
    text-align: center;
    font-size: 18px;
}
/* endfooter */